<nav>
    <span id="nav-title"> Gestionnaire de recettes</span>
    <a hx-get="/recipes">Voir les recettes</a>
    <a hx-get="/ingredients_list">Voir la liste des ingrédients</a>
</nav>
<main id="main">
    {% block main %}
        RIEN!!!!!!!!
    {% endblock main %}
</main>
