@import "./fontawesome/scss/fontawesome.scss";
@import "./fontawesome/scss/solid.scss";

body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 750px;
  margin: auto;
  padding-top: 3em;
  gap: 3em;

  background-color: white;
  color: black;

  font-family: Arial, Helvetica, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

label {
  margin-right: 1em;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 2em;
  border-radius: 0.25em;
}

.form-input-container {
  display: flex;
  flex-wrap: nowap;
  align-items: center;
  input {
    height: 1.5em;
  }

  label {
    flex-basis: 10em;
  }
}

button, input[type="submit"], a[download]{
  font-weight: bold;
  background-color: blue;
  color: white;

  $padding-vertical:0.4em;
  padding-top: $padding-vertical;
  padding-bottom: $padding-vertical;

  $padding-horizontal:0.4em;
  padding-right: $padding-horizontal;
  padding-left: $padding-horizontal;

  border:none;
  border-radius: 0.25em;
  text-decoration: none;
  font-size: 0.75em;
}

input {
  border-width: 1px;
  border-style: solid;
  border-color: darkgray;
  border-radius: 0.25em;
  width: 100%;
}

a, button, input[type="submit"], select {
  cursor: pointer;
  text-decoration: none;
}

nav {
  position: fixed;
  width: 100%;
  background-color: black;
  color: white;
  font-weight: bolder;
  font-size: 1em;
  

  height: 2.5em;

  $padding-horizontal:1em;
  padding-left: $padding-horizontal;
  padding-right: $padding-horizontal;

  display: flex;
  gap: 1em;
  align-content: center;

  * {
    display: grid;
    align-items: center;
  }

  a:hover {
    background-color: blue;
  }
}
